<p>
  <b>Acttypecode:</b>
  <%=h @acttype.acttypecode %>
</p>

<p>
  <b>Acttypename:</b>
  <%=h @acttype.acttypename %>
</p>


<%= link_to 'Edit', edit_acttype_path(@acttype) %> |
<%= link_to 'Back', acttypes_path %>